@import "macchiato.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font Mono";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
    background: @surface0;
    opacity: 0.8;
    padding: 0px 10px 0px 10px;
    margin: 3px 3px 3px 3px;
    border: 1px solid @lavender;
    border-radius: 1rem;
}

#window {
    margin-top: 0;
}

#backlight {
    color: @yellow;
    border-radius: 0;
}

#battery {
    color: @green;
    border-radius: 0;
}

#clock {
    color: @blue;
    border-radius: 1rem 0rem 0rem 1rem;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#bluetooth {
    color: @blue;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px
} 

#network {
    color: @yellow;
}

#pulseaudio {
    color: @maroon;
}

#pulseaudio.microphone {
    color: @sapphire;
    margin-right: 10px;
}

#tray {
    border-radius: 1rem;
    margin-right: 10px;
}

window#waybar {
    background: @surface0;
    color: @text;
    margin: 0;
    padding: 0;
}

#workspaces {
    background: @surface0;
    border-radius: 0rem 1rem 1rem 0rem;
    margin-left: 10px;
    padding-right: 5px;
    margin-right: 10px;
    padding-left: 5px;
}

#workspaces button {
    color: @lavender;
    padding: 5px;
    margin-right: 5px;
}

#workspaces button.active {
    color: @sky;
}

#workspaces button.urgent {
    color: @yellow;
    background: @red;
}

#workspaces button:hover {
    color: @pink;
}

